# adapted from:
# - https://github.com/matplotlib/matplotlib/blob/master/.github/workflows/cibuildwheel.yml
# - https://github.com/scikit-image/scikit-image/blob/master/.github/workflows/cibuildwheel.yml

name: Build CI wheels

on:
  push:
    branches:
      - master

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # os: [ubuntu-latest, windows-latest, macos-latest]
        # os: [ubuntu-latest, windows-latest]
        os: [macos-latest]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.7'

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel

      - name: Build wheels for CPython (macOS)
        if: matrix.os == 'macos-latest'
        run: |
          brew config
          brew install gcc@10
          python -m cibuildwheel --output-dir dist
        env:
          # CIBW_BUILD: "cp3?-*"
          # CIBW_SKIP: "cp35-* cp39-*"
          CIBW_BEFORE_BUILD: python -m pip install git+https://github.com/uschmidt83/delocate.git@patch-1
          MACOSX_DEPLOYMENT_TARGET: 10.9
          #
          CIBW_BUILD: "cp37-*"
          CIBW_BUILD_VERBOSITY: 1
          CIBW_REPAIR_WHEEL_COMMAND: ""
          # CPPFLAGS: "-mmacosx-version-min=10.9"
          # CXXFLAGS: "-mmacosx-version-min=10.9"
          # CFLAGS: "-mmacosx-version-min=10.9"
          #
          # CIBW_TEST_REQUIRES: pytest tensorflow
          # CIBW_TEST_COMMAND: pytest -v -m "not gpu" {project}
          #
          CC: /usr/local/bin/gcc-10
          CXX: /usr/local/bin/g++-10


      - run: |
          mdfind -name libgcc_s
          mdfind -name libgomp
          mdfind -name libstdc++


      - name: Build wheels for CPython (Linux and Windows)
        if: matrix.os != 'macos-latest'
        run: |
          python -m cibuildwheel --output-dir dist
        env:
          # only build for platforms where tensorflow is available
          CIBW_BUILD: "cp3?-*x86_64 cp3?-*win_amd64"
          CIBW_SKIP: "cp35-* cp39-*"
          # numba is a requirement and only has wheels for manylinux2014
          CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014
          CIBW_TEST_REQUIRES: pytest tensorflow
          CIBW_TEST_COMMAND: pytest -v -m "not gpu" {project}


      - uses: actions/upload-artifact@v2
        with:
          name: wheels
          path: ./dist/*.whl